#left {
	float: left;
	margin-right: 45px;
}
#right {
	position: absolute;
	float: left;
	margin-left: 250px;
}
ul#menu {
	margin: 0;
	padding-left: 0;
}
ul#menu li, ul#menu ul li {
	list-style-type: none;
}
h3 {
	padding:0;
	margin-bottom:0;
	margin-top: 0;
}
form {

}
table, tr{
	border: 1px solid black;
}